extends  ../layout/index

block contenido
    dev.py-10
        h1.text-4xl.my-10.font-extrabold.text-center App 
            span.font-normal Winvale
        h2.text-center.text-2xl.font-extrabold= pagina 

    div(class="bg-white shadow py-8 px-4 rounded-lg max-w-md mx-auto")
        h2(class= error ? 'bg-red-500' : 'bg-green-500').py-2.px-5.rounded-lg.w-full.font-bold.text-center.text-black.uppercase= mensajes

        if !error 
        a(href="/auth/login" class="text-center font-bold text-sm text-slate-900 uppercase mt-10 block")  Iniciar Sesion 