extends  ../layout/index

block contenido
    dev.py-10
        h1.text-4xl.my-10.font-extrabold.text-center App 
            span.font-normal Winvale
        h2.text-center.text-2xl.font-extrabold= pagina 

        .mt-8.mx-auto.max-w-md   
            .bg-white.py-8.px-4.shadow
                form.space-y-5
        
                    div     
                        label.block.text-sm-uppercase.text-gray-600.font-bold(for="Email") Email de registro 
                        input#Email.w-full.px-3.py-2.border.border-gray-400.rounded-md.placeholder-gray-300(placeholder="Email" type="text" name="Email")

                    div     
                        label.block.text-sm-uppercase.text-gray-600.font-bold(for="Password") Password 
                        input#Password.w-full.px-3.py-2.border.border-gray-400.rounded-md.placeholder-gray-300(placeholder="Password" type="Password" name="Password")

                    input(class="w-full bg-indigo-600 hover:bg-indigo-700 text-white font-bold py-3 cursor-pointer" type="submit" value="Iniciar Sesión")    

                    div.flex.item-center.justify-between
                        a.text-gray-500.text-xs(href="/auth/registro") ¿No tienes cuenta ? Crear una
                        a.text-gray-500.text-xs(href="/auth/olvide-password")  Olvide mi contraseña
