extends  ../layout/index

block contenido
    dev.py-10
        h1.text-4xl.my-10.font-extrabold.text-center App 
            span.font-normal Winvale
        h2.text-center.text-2xl.font-extrabold= pagina 

        .mt-8.mx-auto.max-w-md   
            .bg-white.py-8.px-4.shadow
                form.space-y-5(method="POST" action="/auth/registro")
                    div     
                        label.block.text-sm-uppercase.text-gray-600.font-bold(for="nombre") Tu Nombre
                        input#nombre.w-full.px-3.py-2.border.border-gray-400.rounded-md.placeholder-gray-300(placeholder="Nombre" type="text" name="nombre")

                    div     
                        label.block.text-sm-uppercase.text-gray-600.font-bold(for="email") Email de registro 
                        input#email.w-full.px-3.py-2.border.border-gray-400.rounded-md.placeholder-gray-300(placeholder="Email" type="text" name="email")

                    div     
                        label.block.text-sm-uppercase.text-gray-600.font-bold(for="password") Password 
                        input#password.w-full.px-3.py-2.border.border-gray-400.rounded-md.placeholder-gray-300(placeholder="Password" type="Password" name="password")

                    div     
                        label.block.text-sm-uppercase.text-gray-600.font-bold(for="Repetir_Password") Repetir Password
                        input#Repetir_Password.w-full.px-3.py-2.border.border-gray-400.rounded-md.placeholder-gray-300(placeholder="Repetir Passwordil" type="Password" name="emaRepetir_Passwordil")    
                    
                    
                    input(class="w-full bg-indigo-600 hover:bg-indigo-700 text-white font-bold py-3 cursor-pointer" type="submit" value="Crear Cuenta")    

                    div.flex.item-center.justify-between
                        a.text-gray-500.text-xs(href="/auth/login") ¿Quiere inicar sesion? Iniciar
                        a.text-gray-500.text-xs(href="/auth/olvide-password")  Olvide mi contraseña