extends  ../layout/index

block contenido
    dev.py-10
        h1.text-4xl.my-10.font-extrabold.text-center App 
            span.font-normal Winvale
        h2.text-center.text-2xl.font-extrabold= pagina 

        h2.text-xl.font-bold.text-center.my-10= mensajes